:root {
    --primary-strong-cyan: hsl(171, 66%, 44%);
    --primary-light-blue: hsl(233, 100%, 69%);
    --neutral-dark-grayish-blue: hsl(210, 10%, 33%);
    --neutral-grayish-blue: hsl(201, 11%, 66%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

#copyright {
    width: 7.5rem;
}


body {
    margin: 0;
    padding: 0;
    color: var(--neutral-dark-grayish-blue);
}

.header {
    background-image: url("./images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0rem;
}

.header__body {
    margin: 2.5rem 0rem;
}

.header__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.btn {
    cursor: pointer;
    padding: .75rem 4.5rem;
    color: white;
    border-radius: 2rem;
    border: 0;
    border-bottom: .2rem solid;
    transition: opacity .1s, transform .05s;
}

.btn--green {
    background-color: var(--primary-strong-cyan);
    border-color: hsl(168, 65%, 38%);
}

.btn--blue {
    background-color: var(--primary-light-blue);
    border-color: hsl(233, 64%, 59%);
}

.btn:is(:hover, ) {
    opacity: 0.75;
}

.btn:is(:active) {
    opacity: .9;
    transform: translate(-1px, -2px);
}

.text-center {
    text-align: center;
}

p {
    color: var(--neutral-grayish-blue);
}

.container,
.mi-auto {
    margin-inline: auto;
}

.container {
    width: 85%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 40rem) {
    .header__buttons {
        flex-direction: row;
        justify-content: center;
    }

    .header__body p {
        width: 50%;
        margin-inline: auto;
    }
}

@media screen and (min-width: 70rem) {
    .header__body p {
        width: 40%;
        margin-inline: auto;
    }
}